@font-face { font-family: BeyondTheMountain; src: url('../assets/font/beyond_the_mountains.otf'); }

h1 {
    /* font-family: BeyondTheMountain; */
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.pastor-img {
    max-width: 150px;
}

.logo {
    max-height: 300px;
    max-width: 50%;
}

.image-80 {
    max-width: 80%;
}

.image-100 {
    max-width: 100%;
}


.footer-link {
    color:white;
    text-decoration: none;
}

.row, footer {
    --bs-gutter-x: 0 !important;
}