@font-face { font-family: BeyondTheMountain; src: url('../assets/font/beyond_the_mountains.otf'); }

h1 {
    font-family: BeyondTheMountain;
    font-size: 4em;
    margin-bottom: 1em;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.pastor-img {
    max-width: 150px;
}

.logo {
    max-height: 300px;
    max-width: 100%;
}

.footer-link {
    color:white;
    text-decoration: none;
}

footer {
    --bs-gutter-x: 0 !important;
}